.x3n_header{
    background: #000;
    height: 32px;
    opacity: 1;
    font-family: 'Gibson-Regular';
    text-transform: uppercase;
}
.x3n_header_logo_container{
	margin: 0 0 0 9px;
	display: inline-block;
    margin-top: 5px;
}
.x3n_header img.logo{
    margin-bottom: 3px; 
}
img.logo{
    width:25px;
    cursor:pointer;
}
.icon{
	height:32px;
	cursor:pointer;
}
.glyphicon-chevron-right{
	cursor:pointer;
}
.glyphicon-chevron-left{
	cursor:pointer;
}
#budget-month{
	display: inline-block;
    width: 200px;
}

/*Content Table*/
.content-table{
	color:#5bc0de;
	margin-top:20px;
}
.content-table tr{
	font-size:100%;
}
.content-table td{
	max-width:50px;
	font-size:8px;
}
@media (min-width: 768px) {
	.content-table td{
		max-width:5000px;	
		font-size:100%;
	}
}
.content-table .header-row td{
	text-transform: uppercase;
	color: #968aa8;
	font-weight: bold;
	text-align: center;
}
.content-table tr:not(.header-row){
	cursor:pointer;
}
.content-table tr:not(.header-row):hover{
	color:#000;
}
#portfolio-nav{
	margin-bottom:20px;
	margin-top:20px;
}
.numerical{
	text-align:right;
}
.title-row{
	text-align: center;
    text-transform: uppercase;
	color: #5f9ea0;
	font-weight: bold;
}
/*End Content Table*/



/*Charts amd Maps Controls*/
.form-group{
	width:100%;
}
#chart-period{
	width:110px;
}
#chart-period-type{
	width:100px;
}
#update-chart{
	margin-left:20%
}
#current-stock-chart{
	margin-top:25px;
	margin-bottom:25px;
	text-align:center;
}
#stock-chart{
	cursor:pointer;
	width:100%;
}
.map{
	display:inline-block;
	margin-left:5px; 
}
/*End Chart Form Controls*/

/*Modal Objects*/
.modal-btn{
	display:none !important;
}
#modal-container{
    position: absolute;
    top: 10%;
    left: 20%;
    margin-top: -25px;
    margin-left: -200px;
    padding: 20px;
}
.hidden{
	display:none;
}
#loading_container{
    width: 5000px;
    height: 5000px;
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 100000;
}
#loading_spinner{
    width: 30%;
    position: fixed;
    top: 50%;
    left: 35%;
}
#transaction-entry-modal .form-control{
	margin-top:25px;
	font-size:1.5em;
	top:20%;
}
/*End Modal Objects*/