/*Loading Screen*/
#loading_container{
    width: 5000px;
    height: 5000px;
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000;
}
#loading_spinner{
	width: 10%;
	position: fixed;
	left: 7%;
	top: 5%;
}
#loading-cancel{
	width:10%;
	position:fixed;
	left:7%;
	top:5%;
	margin-top:10%;
	padding:10px 0 10px 0;
	background-color:#333;
}
@media (min-width: 768px){
	#loading_spinner{
		width: 30%;
		position: fixed;
		left: 35%;
		top:25%;
	}
	#loading-cancel{
		width: 30%;
		left: 35%;
		top:25%;
		margin-top:25%;
	}
}

/*Uncategorized*/
#cash-edit{
	padding: 0 0 0 0;
	cursor: pointer;
	margin-left:10px;
}

.x3n_header{
    background: #000;
    height: 32px;
    opacity: 1;
    font-family: 'Gibson-Regular';
    text-transform: uppercase;
}
.x3n_header_logo_container{
	margin: 0 0 0 9px;
	display: inline-block;
    margin-top: 5px;
}
.x3n_header img.logo{
    margin-bottom: 3px; 
}
img.logo{
    width:25px;
    cursor:pointer;
}
.icon{
	height:32px;
	cursor:pointer;
}
.glyphicon-chevron-right{
	cursor:pointer;
}
.glyphicon-chevron-left{
	cursor:pointer;
}
#budget-month{
	display: inline-block;
    width: 200px;
}


/*------------ Content Table -------------*/
.content-table{
	margin-top:20px;
	color:#ccc;
}
.content-table tr{
	font-size:90%;
}
.content-table td{
	max-width:50px;
	font-size:80%;
	background-color:#111;
}
.content-table tfoot td{
	color: #aa0;
}
@media (min-width: 768px) {
	body .content-table td, body .content-table th{
		max-width:5000px;	
		font-size:100%;
	}
	body .content-table .mobile-hidden{
		display:table-cell;
	}
}
.content-table th{
	text-transform: uppercase;
	color: #FFB500;
	font-size: 70%;
	text-align: center;
}
.content-table tr:not(.header-row):not(.title-row){
	cursor:pointer;
}

#portfolio-nav{
	margin-bottom:20px;
	margin-top:20px;
}
/*Format Classes for table*/
.content-table td.numerical{
	text-align:right;
}
td.uppercase{
	text-transform:uppercase;
}
.content-table td.centered{
	text-align:center;
}
.content-table .mobile-hidden{
	display:none;
}
.content-table td.title-row{
	text-align: center;
    text-transform: uppercase;
	color: #FFB500;
	font-weight: bold;
}
.content-table tr.total-row td{
	background-color: #222;
	font-style: italic;
}
.content-table tr.total-row{
	color: #fff;
}
/*------------ End Content Table -------------*/



/*Charts amd Maps Controls*/
.form-group{
	width:100%;
}
#chart-period{
	width:110px;
}
#chart-period-type{
	width:100px;
}
#update-chart{
	margin-left:20%
}
#current-stock-chart{
	margin-top:25px;
	margin-bottom:25px;
	text-align:center;
}
#stock-chart{
	cursor:pointer;
	width:100%;
}
.map{
	display:inline-block;
	margin-left:5px; 
}
/*End Chart Form Controls*/

/*Modal Objects*/
.modal-btn{
	display:none !important;
}
#modal-container{
    position: absolute;
    top: 10%;
    left: 20%;
    margin-top: -25px;
    margin-left: -200px;
    padding: 20px;
}
.hidden{
	display:none;
}
#transaction-entry-modal .form-control{
	margin-top:25px;
	font-size:1.5em;
	top:20%;
}
/*End Modal Objects*/