<div id="{{user}}" class="tab-pane fade">
    <h1 class="page-header">
        <span class="emphasize">{{user}}}}</span>
    </h1>
</div>
<div class="container">
    <div id="king_queen-container" class="container">
        <img id="archon" src="http://placekitten.com/g/300/400">
    </div>
    <div id="quote-container" class="container">
        <h3 style="text-align:center">
          "Oh boy." 
        </h3>
    </div>
    <h1>
    <div style="margin-bottom:30px;">
            <span id="drink" style="margin-right:5px;"></span><i class="fa fa-glass" aria-hidden="true" style="margin-right:20px;"></i>
            <span id="water" style="margin-right:5px;"></span><i class="fa fa-tint" aria-hidden="true" style="margin-right:20px;"></i>
            <span id="smoke" style="margin-right:5px;"></span><i class="vs vs-smoking" aria-hidden="true"></i>
    </div>
    <div class="container-fluid">            
        <div class="row">          
            <button type="button" class="btn btn-lg btn-danger col-xs-12 col-md-4 col-lg-4 action-btn" actionType="drink">
                Take a Sip! <i class="fa fa-glass" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-lg btn-info col-xs-12 col-md-4 col-lg-4 action-btn" actionType="water">
                Water Round! <i class="fa fa-tint" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-lg btn-success col-xs-12 col-md-4 col-lg-4 action-btn" actionType="smoke">
                Take a Hit! <i class="vs vs-smoking"></i>
            </button>
        </div>
     </div>
    </h1>
</div>